# Node
node_modules
**/node_modules

# Build folders
backend/dist
frontend/.next
frontend/.next-build
frontend/.next-build-ci
frontend/.next-dev
frontend/out
frontend/build

# Env files
.env
.env.*
backend/.env
frontend/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db
